@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common class */
.container {
  @apply max-[640px]:max-w-[600px] max-[960px]:max-w-[900px] max-[1280px]:max-w-[1200px] px-4 mx-auto;
}

.dark-bg {
  @apply dark:bg-gradient-to-b dark:from-gray-900 dark:to-black;
}

.block-wrapper {
  @apply bg-white dark:bg-slate-900 text-slate-700 dark:text-white bg-opacity-90 dark:border-[#ffffff1d] border rounded-[5px] shadow-sm dark:shadow-sm;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.8;
  }
  33.33% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.hero-animation {
  @apply bg-[linear-gradient(_147.92deg,#1e293b_10.41%,hsla(0,0%,100%,0)_89.25%_)] dark:bg-[linear-gradient(_147.92deg,#39c1d3_10.41%,hsla(0,0%,100%,0)_89.25%_)] animate-[changeBackgroundColor_8s_infinite];
}

/* Button */
.primary-btn {
  @apply py-[10px] px-4 flex items-center justify-center gap-x-1 rounded-[5px] dark:bg-secondary bg-tertiary text-white font-bold;
}

/* Form */
.form-title {
  @apply text-[25px] text-slate-700 dark:text-white font-medium text-center py-2;
}

.form-input-label {
  @apply text-sm text-slate-600 dark:text-white font-bold;
}

.form-link {
  @apply dark:text-secondary text-tertiary font-bold ml-2 cursor-pointer;
}

/* Validate OTP Form */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.validate-inputs {
  @apply w-[74%] mx-auto mt-6;
}

.validate-inputs > div {
  @apply !w-full !grid !grid-cols-4 h-[65px] gap-3;
}

.validate-inputs input {
  @apply !w-full aspect-square bg-transparent !border-[3px] dark:border-white border-[#fff] rounded-[10px] text-slate-700 dark:text-white text-xl outline-none;
}

/* Loading page */

.loading-page-body {
  @apply absolute ml-[-50px] animate-[speeder_0.4s_linear_infinite] left-2/4 top-2/4;
}

.loading-page-body > span {
  @apply h-[5px] w-[35px] absolute top-[-19px] rounded-[2px_10px_1px_0] left-[60px];
}

.loading-page-body > span > span:nth-child(1),
.loading-page-body > span > span:nth-child(2),
.loading-page-body > span > span:nth-child(3),
.loading-page-body > span > span:nth-child(4) {
  @apply w-[30px] h-px absolute animate-[fazer1_0.2s_linear_infinite] dark:bg-secondary bg-tertiary;
}
.loading-page-body > span > span:nth-child(2) {
  @apply animate-[fazer2_0.4s_linear_infinite] top-[3px];
}
.loading-page-body > span > span:nth-child(3) {
  @apply animate-[fazer3_0.4s_linear_infinite] top-px;
  animation-delay: -1s;
}
.loading-page-body > span > span:nth-child(4) {
  @apply animate-[fazer4_1s_linear_infinite] top-1;
  animation-delay: -1s;
}

.loading-page-base span {
  @apply absolute w-0 h-0 border-r-[100px] border-r-tertiary dark:border-r-secondary border-y-[6px] border-y-transparent border-solid before:content-[""] before:h-[22px] before:w-[22px] before:absolute before:right-[-110px] before:rounded-[50%] before:-top-4 after:content-[""] after:absolute after:w-0 after:h-0 after:right-[-98px] after:border-r-[55px] after:border-r-tertiary dark:after:border-r-secondary after:border-t-0 after:border-b-[16px] after:border-y-transparent after:border-solid after:-top-4;
}

.loading-page-base span:before {
  @apply dark:bg-secondary bg-tertiary;
}

.loading-page-face {
  @apply absolute h-3 w-5 rotate-[-40deg] right-[-125px] top-[-15px] rounded-[20px_20px_0_0] after:content-[""] after:h-3 after:w-3 after:absolute after:rotate-[40deg] after:origin-[50%_50%] after:rounded-[0_0_0_2px] after:right-1 after:top-[7px] dark:bg-secondary bg-tertiary;
}

.loading-page-face:after {
  @apply dark:bg-secondary bg-tertiary;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}
@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}
@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}
@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}
@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.loading-page-longfazers {
  @apply absolute w-full h-full;
}
.loading-page-longfazers span {
  @apply absolute h-0.5 w-1/5  dark:bg-secondary bg-tertiary;
}
.loading-page-longfazers span:nth-child(1) {
  @apply animate-[lf_0.6s_linear_infinite] top-[20%];
  animation-delay: -5s;
}
.loading-page-longfazers span:nth-child(2) {
  @apply animate-[lf2_0.8s_linear_infinite] top-[40%];
  animation-delay: -1s;
}
.loading-page-longfazers span:nth-child(3) {
  @apply animate-[lf3_0.6s_linear_infinite] top-[60%];
}
.loading-page-longfazers span:nth-child(4) {
  @apply animate-[lf4_0.5s_linear_infinite] top-[80%];
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

/* Admin page */
.admin-nav-title {
  @apply !text-lg !font-josefin text-tertiary dark:text-[#ffffffc1] capitalize !font-normal border-b border-slate-600;
}

/* Course page */
.course-info-item {
  @apply flex items-center justify-between text-sm py-4 border-b dark:border-slate-700;
}

/* Scroll bar */
::-webkit-scrollbar {
  @apply w-[6px] cursor-pointer;
}

::-webkit-scrollbar-track {
  @apply bg-slate-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-tertiary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700 transition;
}
